<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1>Show Notes</h1>
			<%= link_to "Summary", sretro_notes_path(@sretro)%>
		</div>
		<div class="panel-body">
			<h1><%= @note.note_type.name %></h1>
			<p>
				<%= @note.notes %>
			</p>
		</div>

		<div class="panel-footer">
			<%= link_to "New Note", new_sretro_note_path(@sretro) %>
		</div>
	</div>
</div>