<div class="container">

	<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Retro List</h1>
			</div>
			<div class="panel-body">
				<% @sretros.each do |retro| %>
					<p>
						<%= link_to retro.title, new_sretro_note_path(retro) %> 
						| 
						<%= link_to "Summary", sretro_notes_path(retro)%>
					</p>
				<% end %>
			</div>
			<% if current_user.is_team_lead? %>
				<div class="panel-footer">
					<%= link_to "Create new retro", new_sretro_path %>
				</div>
			<% end %>
	</div>
</div>